<div class="flex justify-center space-x-2 mt-6">
  <%== pagy_nav(@pagy_a, link_extra: 'class="px-3 py-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-[#E50A13] hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm"') %>
</div>
