<main>
  <%= image_tag "background.jpg", class: "absolute bg-cover bg-center mt-[-4rem] opacity-30" %>

  <!-- Hero -->
  <div class="relative overflow-hidden pt-[5rem]">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
      <div class="text-center">
        <h1 class="text-[3rem] font-bold text-white">
          Unlimited movies, TV shows, and more
        </h1>
        <p class="mt-3 text-white text-2xl">
          Watch anywhere. Cancel anytime.
        </p>
        <p class="mt-3 text-white text-xl">
          Ready to watch? Enter your email to create or restart your membership.
        </p>
        <div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
          <!-- Form -->
          <%= form_with(model: @movie, url: "/movies") do |f| %>
            <div class="relative flex z-10 space-x-3 h-[3.8rem]">
              <div class="flex-[0_0_auto]">
                <%= f.text_field :email, autofocus: false, autocomplete: "off", class: "h-full px-5 rounded-md focus:border-white focus:ring-white bg-[#0000004d] text-white w-[25rem]", placeholder: "Email Address" %>
              </div>
              <div class="flex-[0_0_auto]">
                <button class="bg-[#E50A13] text-white text-xl font-bold rounded px-6 h-full">
                  Get Started
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
            </div>
          <% end %>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero -->
</main>
